.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container{
    border-right: 1px solid lightgrey;
    margin-right: 5px;
    margin-left: 50px;
}
.button-regular{
    background-color: goldenrod;
    width: 150px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}